:root {
  font-size: 16px;
  --main-font: "Inter", sans-serif;
}

body {
  font-family: var(--main-font);
  color: #25659b;
}

main {
  width: 60%;
  height: 100%;
  margin: 4rem auto;
  padding-top: 2rem;
  border-left: solid 2px #edf3f8;
  border-right: solid 2px #edf3f8;
}
.search {
  width: 90%;
  margin: 0 auto;
  background-color: #c4e2fe;
  border-radius: 0.5rem;
  padding: 1rem;
}
.weather-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.weather-form button {
  border: none;
  border-radius: 0.25rem;
  background-color: #ffffff;
  margin-left: 1rem;
  margin-right: 2rem;
  padding: 0.5rem 1rem;
}
.weather-form p {
  color: red;
  font-size: 0.75rem;
}
.weather-form input {
  border-radius: 0.25rem;
  font-size: 1rem;
  border: none;
  padding: 0.5rem 1rem;
}
.weather-form input::placeholder {
  color: #b7b6b7;
  opacity: 0.5;
}

.weather-form img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.general-info {
  width: 90%;
  height: 50%;
  margin: 1rem auto;
  display: flex;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #c4e2fe;
  justify-content: space-between;
}

.overall {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: #003366;
}
.name-date .icon-location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-date p span {
  font-weight: bolder;
}
.name-date p img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.temp-desc {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-bottom: 1rem;
}
.temp-degree {
  font-size: 4rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.details div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details div img {
  width: 40%;
  height: 40%;
  margin-right: 0.5rem;
}

.other {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
}

.other p {
  width: 60%;
  background-color: #7faacc;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  color: #011325;
}
