:root {
  font-size: 16px;
}

main {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  border-left: solid 2px #edf3f8;
  border-right: solid 2px #edf3f8;
}
.search {
  width: 90%;
  margin: 0 auto;
  background-color: #c4e2fe;
  border-radius: 0.5rem;
  padding: 1rem;
}
.weather-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.weather-form button {
  border: none;
  border-radius: 0.25rem;
  background-color: #ffffff;
  margin-left: 1rem;
  margin-right: 2rem;
  padding: 0.5rem 1rem;
}
.weather-form p {
  color: red;
  font-size: 0.75rem;
}
.weather-form input {
  border-radius: 0.25rem;
  font-size: 1rem;
  border: none;
  padding: 0.5rem 1rem;
}
.weather-form input::placeholder {
  color: #b7b6b7;
  opacity: 0.5;
}

.weather-form img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.general-info {
  width: 90%;
  height: 50%;
  margin: 1rem auto;
  display: flex;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #c4e2fe;
}

.overall {
  width: 50%;
}
.name-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.name-date img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.temp-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.temp-degree {
  font-size: 2.5rem;
  margin-bottom: -0.5rem;
}

.details {
  display: flex;
  justify-content: space-between;
}

.other {
  background-color: rgba(255, 255, 255, 50);
}
